<% @picture.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>


<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid;
    border-radius: 5px;
    height: 450px;
}
.card_for_restaurant{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid;
    border-radius: 5px;
    height: 450px;
}
.col-md-4.fl {
    float: left;
}

</style>

<style type="text/css">
a:hover{
  text-decoration: none;
}
.modal-backdrop {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0.5;
  height:100%; 
  position: fixed;
  }
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('/assets/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('/assets/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

</style>

<div class="row" style="padding-left: 20px;">
  <div class="col-sm-10">
    <div class="field">
      <input id="search-input" class="form-control" type="text" placeholder="Search Restaurant">
      <br>
      <button class="btn btn-primary btn_large" id = "subscribe_btn" >Subscribe</button>
      <button class="btn btn-info btn_large" id = "feedback_btn" data-toggle="modal" data-target= "#feedback_modal" >Send Feedback</button>
      
    </div>
  </div>
  <div class="col-sm-2">
    <div class="field">
      <img src="/assets/search.png" style="height: 25px;width: 25px;" id="search">
    </div>
  </div>
</div>
<br>
<br>
<%restaurant_id_array=[]%>
<%restaurant_lat_array=[]%>
<%restaurant_long_array=[]%>

<% Restaurant.all.order('id DESC').each do |restaurant| %>
  <%restaurant_id_array.push(restaurant.id)%>
  <% if restaurant.addresses.present? %>
    <%if restaurant.addresses.first.latitude.present? && restaurant.addresses.first.longitude.present? %>
      <%restaurant_lat_array.push(restaurant.addresses.first.latitude.to_f)%>
      <%restaurant_long_array.push(restaurant.addresses.first.longitude.to_f)%>
    <%else%>
      <%restaurant_lat_array.push(0)%>
      <%restaurant_long_array.push(0)%>
    <%end%>
  <% end %>
  <div class="col-md-4 fl">
    <div class="card_for_restaurant bg-light mb-4">
      <div class="card-header"><h4><b><%= link_to("#{restaurant.name.capitalize}","/restaurant/show_for_user/#{restaurant.id}") %></b></h4> </div>
      <div class="card-body">
        <p><b>Description:</b> <%= restaurant.description.truncate(70) %></p> 
        <p><b>Contact Number: </b><%= restaurant.contact_number %></p>
        <% if restaurant.addresses.present? %>
          <p><b>Address: </b><%= restaurant.addresses.first.address_line %></p>
        <% end %>
        <p><b>Timings: </b><%= restaurant.opening_time %>-<%= restaurant.closing_time %></p>
        <p><b>Cost for two: </b>Rs.<%= restaurant.cost_for_two %></p>
        <% if restaurant.addresses.present? %>
          <p><b>Get Route :</b><img src="/assets/map_icon.png" style="height: 30px;width: 30px;" data-id ="<%=restaurant.id%>" class ="map_icon" data-toggle="modal" data-target= "#map_modal" data-remote = "true"></p>
          <p><b>Distance: </b><span id = "distance_<%= restaurant.id %>"></span></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix"></div>



<div style="padding-left: 20px;">
  <div class="btn btn-outline-primary" id ="blog_btn">
    <%= link_to("Create blog","javascript:void(0)",:remote => true,:class => "create_blog_btn") %>
  </div>
</div>


<!-- form for creating blog for not signed in users -->
<div style="padding: 20px;">
  <div class="card" style="padding: 10px;height: auto;">
    <div class="container-fluid">          
        <div class ="new_blog">
          <h2>Write a new blog</h2>
          <%= form_for (@blog),url: "/blog/create", :html => { :multipart => true } do |f| %>
            <div class="field">
              <%= f.text_field :title,:class=>"form-control",:placeholder => "Title" %>
            </div>
            <br>

            <div class="field">
              <%= f.text_area :content, :class => "tinymce",:placeholder => "Content" %>
            </div>
            <br/>
            <div class="field">
              <%= f.email_field :email,:placeholder => "Email(Optional)",:class=>"form-control" %>
            </div>
            <br>
            <div class="field">
              <%= f.text_field :fullname,:placeholder => "Fullname(Optional)",:class=>"form-control" %>
            </div>
            <br>
            <div class="field">
              <%= f.fields_for @picture do |a|  %>
                <b> Upload Images : </b>
                <%= a.file_field :avatar , multiple: true %>
              <% end %>
            </div>
            <br/>
            <div class="actions">
              <button type="submit" class="btn btn-primary btn_large" >Create</button>
              <button class="btn btn-primary btn_large" id = "cancel_btn" >Cancel</button>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<!-- modal for map -->
<div id="map_modal" class="modal" role="document" >
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-body">
        <div id="geolocation" style="width: 467px; height: 400px;"></div>
        <br>
        <p><b>Distance: </b><span id = "distance" ></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal for feedback -->
<div id="feedback_modal" class="modal" role="document" >
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">SUBMIT YOUR FEEDBACK</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div style="width: 120px;margin: 0 auto;">
          <div class="starRating">
            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="rating" value="3">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="rating" value="2">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1">1</label>
          </div>
        </div>
        <br>
        <br>
        <textarea rows="4" cols="50" name="description" id= "feedback_description" placeholder="Write your feedback" class="form-control"></textarea>
        <br>
        <button class="btn btn-primary btn_large" id="submit_feedback_btn" >Submit</button>
      </div>
    </div>

  </div>
</div>



<script>
if (navigator.geolocation) 
{
   
  navigator.geolocation.getCurrentPosition(CalculateMinifiedDistance);
  function CalculateMinifiedDistance(position) 
  {
    var res_id_array=<%=restaurant_id_array%>
    var res_lat_array=<%=restaurant_lat_array%>
    var res_long_array=<%=restaurant_long_array%>

    for(i=0; i<res_id_array.length;i++)
    {
      var restaurant_latitude=res_lat_array[i];
      var restaurant_longitude=res_long_array[i];
      var restaurant_id=res_id_array[i];
      if(restaurant_latitude==0 && restaurant_longitude==0)
      {

      }
      else
      {
        var lat1=position.coords.latitude;
        var lon1=position.coords.longitude;
        var lat2=restaurant_latitude;
        var lon2=restaurant_longitude;
        var result=0;

        var R = 6371; // km (change this constant to get miles)
        var dLat = (lat2-lat1) * Math.PI / 180;
        var dLon = (lon2-lon1) * Math.PI / 180;
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
          Math.cos(lat1 * Math.PI / 180 ) * Math.cos(lat2 * Math.PI / 180 ) *
          Math.sin(dLon/2) * Math.sin(dLon/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        if (d>1) 
        {
          result=Math.round(d)+"km away";
        }
        else if (d<=1) 
        {
          result=Math.round(d*1000)+"m";
        }
        $("#distance_"+restaurant_id).html(result);
      }           
    }
  }
} 



  $(document).ready(function()
  {

    $(".card").hide();
    $("#cancel_btn").hide();
  });
  $("#blog_btn").click(function()
  {
    $(this).hide();
    $(".card").show();
    $("#cancel_btn").show();
  })
  $("#cancel_btn").click(function(e)
  {
    e.preventDefault();
    $(".card").hide();
    $("#blog_btn").show();
  })


  function caldistance(lat1,lon1,lat2,lon2) { //function to calculate distance between two latitude,longitude

    var R = 6371; // km (change this constant to get miles)
    var dLat = (lat2-lat1) * Math.PI / 180;
    var dLon = (lon2-lon1) * Math.PI / 180;
    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(lat1 * Math.PI / 180 ) * Math.cos(lat2 * Math.PI / 180 ) *
      Math.sin(dLon/2) * Math.sin(dLon/2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    var d = R * c;
    if (d>1) return Math.round(d)+"km away";
    else if (d<=1) return Math.round(d*1000)+"m";
    return d;
  }


  $(".map_icon").on("click",function(){
    var id = $(this).data("id");
    $.ajax({ 
      async: true,
      type: 'GET',
      url: "/restaurant/address/"+id,
      beforeSend: function() {
              $(".modal-body").hide();
           },
      success: function(data)
      {
        $(".modal-body").show();
        navigator.geolocation.getCurrentPosition(showPosition); //function to get current location
        function showPosition(position) 
        {
          function calcRoute(latitude,longitude) 
            {
              var destination_lat = data.lat; // restaurant latitude
              var destination_long = data.long;// restaurant longitude
              var distance = caldistance(latitude,longitude,destination_lat,destination_long);
              document.getElementById("distance").innerHTML = distance;
              var origin      = new google.maps.LatLng(latitude,longitude);
              var destination = new google.maps.LatLng(destination_lat,destination_long);
              var request = {
                origin:      origin,
                destination: destination,
                travelMode:  google.maps.TravelMode.DRIVING
              };
              directionsService.route(request, function(response, status) 
              {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                }
              });
            }
          var directionsDisplay = new google.maps.DirectionsRenderer();
          var directionsService = new google.maps.DirectionsService();
          var origin_latitude=position.coords.latitude;  //get current latitude
          var origin_longitude=position.coords.longitude;  // get current longitude
          calcRoute(origin_latitude,origin_longitude);  // function to calculate route
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: {id: 'geolocation'}}, function()  // geolocation is the id of the div
          {
            directionsDisplay.setMap(handler.getMap());
          });
        }
      }, 
      error: function(data){ alert('error'); } 
    })
  })

  $("#subscribe_btn").on("click",function()
  {
    swal({
    title: 'Please provide us with your email',
    input: 'email',
    showCancelButton: true,
    confirmButtonText: 'Confirm',
    showLoaderOnConfirm: true,
    }).then((value) => 
    {
      var email = value;
      if(email!=null && email!="" )
      {
        $.ajax({ 
        async: true,
        type: 'GET',
        url: "subscription/new",
        data: {email: email},
        success: function(data)
        {
          swal("Subscribed successfully!","Thank you for subscribing!", "success"); 
        }, 
        error: function(data){ alert('error'); } 
        })
      }
      else
      {
        swal("Please provide your email","Email can't be blank!!", "error"); 
      }
     })
  });


  $("#submit_feedback_btn").click(function(){

  // We are using ipdata API to obtain the IP and other geolocation data of the person who is submiting feedback

  $.get("https://api.ipdata.co", function (response) 
  {
    var api_response = JSON.stringify(response, null, 4);
    var viewers_ip = response["ip"];
    var viewers_city = response["city"];
    var viewers_region = response["region"];
    var viewers_country = response["country_name"];
    var viewers_continent = response["continent_name"];
    var viewers_latitude = response["latitude"];
    var viewers_longitude = response["longitude"];
    var viewers_internet_service_provider = response["organisation"];
    var feedback_description= $("#feedback_description").val();
    var final_feedback_rating = $("input[name='rating']:checked").val();
    if(final_feedback_rating==undefined){
      final_feedback_rating=0;
    }

    if(feedback_description == null || feedback_description == "")
    {
      feedback_description = "nothing";
    }
    $.getScript("/feedback/create.js?pt=" + feedback_description +"@@@"+final_feedback_rating+"@@@"+viewers_ip+"@@@"+viewers_city+"@@@"+viewers_region+"@@@"+viewers_country+"@@@"+viewers_continent+"@@@"+viewers_latitude+"@@@"+viewers_longitude+"@@@"+viewers_internet_service_provider);
  }, "jsonp");

    $(".close").trigger("click");
    swal("Thank you for submitting your feedback");
  });

</script>